<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <title>airlinesfarefinder</title>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/dsnp-csadd.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="js/jquery.min.js"></script>
  
  <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16751523481"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-16751523481'); </script> 

<!-- Event snippet for Purchase conversion page --> <script> gtag('event', 'conversion', { 'send_to': 'AW-16751523481/YUOBCJPU5uAZEJnt37M-', 'value': 1.0, 'currency': 'INR', 'transaction_id': '' }); </script> 

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16751523481"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16751523481');
</script>


<!-- Event snippet for mobile conversion conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. --> <script> function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-16751523481/_fsQCOK18uAZEJnt37M-',
      'value': 1.0,
      'currency': 'INR',
      'event_callback': callback
  });
  return false;
}
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16657952456"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16657952456');
</script>

<script>
  gtag('config', 'AW-16657952456/BJFiCPegsJoaEMjdkIc-', {
    'phone_conversion_number': '888-928-1369'
  });
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16751523481"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16751523481');
</script>


<script>
  gtag('config', 'AW-16751523481/xw6MCIDC8eAZEJnt37M-', {
    'phone_conversion_number': '(888) 928-1369'
  });
</script>


<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-40R7XVTMVS"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-40R7XVTMVS'); </script>



</head>
<body>



<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://www.airlinesfarefinder.com"><img src="images/logo.png" class="logo"></a>
    </div>
	
	 <div class="callnow_mm">
        <a href="tel:+1-888-928-1369">
        <div class="hdrtxt"><i class="fa fa-headphones "></i> Call </div>
        </a>
     </div>
	
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar_st">
        <li class="active"><a href="https://www.airlinesfarefinder.com">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/travel">Travel</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div class="tollfree">
          <a href="tel:+1-888-928-1369"><span>Call 24/7 for our best deals</span><img src="images/phone01.png"> +1-888-928-1369 </a>
        </div>
      </ul>
    </div>
  </div>
</nav>  
<div class="pagebanner">
  <h1>Cancellation & Refund Policy</h1>
  <img src="images/aboutbanner.jpg" class="img-responsive">
</div>  



<section class="abt_home2 pd50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about_sec2">
         <h3><strong>Cancellation Policy </strong></h3>
            
            <p> Our main aim is to offer first-class travel services and maintain a standard that fulfills every customer's needs and requirements. In the same way, we also have a well-configured cancellation policy. You should be well versed in the cancellation policies so that when you are not able to travel for any reason, </p>
<p><strong> Notification of delays and cancellations&ndash;</strong><br /> airlinesfarefinder.com offers notifications and updates regularly regarding flights and other relevant points so that travelers can prepare accordingly. </p>
<p><strong> Getting Rebooked&ndash;</strong><br /> After cancellation, if you want to rebook the flights, don't worry. Our experienced representatives will, on the spot, start working on it without much questioning. Just go through the Terms and Conditions because there are many when it comes to cancellations as well as re-booking.</p>
<p><strong> Refund Policy:</strong><br> There is no situation as such in which the flights might get canceled, but in case of bad weather where flights can't fly, you can ask for a refund. But the refund completely depends on airline policies, and we don't have any control over them. </p>
<h3><strong>Refund Policy</strong></h3>
<p> Our main aim is to offer first-class travel services and maintain a standard that fulfills every customer's needs and requirements. In the same way, we also have a refund policy that is well-configured. You should be well versed in the refund policies so that when you are not able to travel for any reason,. </p>
<p><strong> Notification of Refunds &ndash;</strong><br /> airlinesfarefinder.com Refund only within 24 hours. </p>
<p><strong> Refund Policy:</strong><br> There is no situation as such in which the flights might get canceled, but in case of bad weather where flights can't fly, you can ask for a refund. But the refund completely depends on airline policies, and we don't have any control over them. </p>


        </div>
      </div>
    </div>
  </div>
</section>


<footer class="footer">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        <div class="ftr_bx">
          <h4>Quick <span>Links</span></h4>
          <ul>
            
            <li><a href="/about"><i class="fa fa-angle-right"></i> About Us</a></li>
            <li><a href="/disclaimer"><i class="fa fa-angle-right"></i> Disclaimer</a></li>
            <li><a href="/privacy-policy"><i class="fa fa-angle-right"></i> Privacy Policy</a></li>
            <li><a href="/terms-conditions"><i class="fa fa-angle-right"></i> Terms & Conditions</a></li>
            <li class="dsnp-ex"><a href="/cancellation-refund"><i class="fa fa-angle-right"></i> Cancellation & Refund Policy</a></li>
            <li><a href="sitemap.xml"><i class="fa fa-angle-right"></i> Site Map</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-md-12">
        <div class="ftr_bx">
          <h4>Contact <span>Info</span></h4>
          <ul class="dsnp-uladm" style="margin-bottom: 10px;">
            <li class="dsnp-liadm"><a href="javascript:void(0);"><i class="fa fa-home"></i>  <strong> 10540 Little Patuxent Pkwy ste, 300 </strong> 
 Columbia, MD 21044, USA  </a></li>
            <li><a href="tel:+1-888-928-1369"><i class="fa fa-phone"></i> +1-888-928-1369 </a></li>
            <li><a href="mailto:info@airlinesfarefinder.com"><i class="fa fa-envelope"></i> info@airlinesfarefinder.com </a></li>
            <li><a href="https://www.airlinesfarefinder.com"><i class=" fa fa-desktop"></i> airlinesfarefinder.com</a></li>
          </ul>
          <!--<img src="images/iata.png" alt="iata">
          <img src="images/logo-arc.png" alt="iata"> -->
        </div>
      </div>
      
      <div class="col-md-12">
        <div class="ftr_bx">
          <h4>Disclaimer </h4>
          <p>Airlines Fare Finder is a travel reservations portal in the United States. We don't have any subsidiary or sister company. We are working as independent travel agents to sell travel products and services. Our company is not responsible for any kind of loss or damage by using this website or by browsing the Airlines Fare Finder.</p>
        </div>
      </div>
      
    </div>
	
  </div>  
</footer>
<div class="icon_St">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <!--<li><img src="icon/01.png"></li>
          <li><img src="icon/02.png"></li>
          <li><img src="icon/03.png"></li>
          <li><img src="icon/04.png"></li> -->
          <li><img src="icon/05.png"></li>
          <li><img src="icon/06.png"></li>
          <li><img src="icon/07.png"></li>
          <li><img src="icon/08.png"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="footer_btm">Copyright © 2024 airlinesfarefinder.com is a unit of airlinesfarefinder LLC. All Rights Reserved</div>






</html>

	
	<script>
	//IIFE
(function () {
  "use strict";

  var canvas, ctx;
  var points = [];
  var maxDist = 100;

  function init() {
    //Add on load scripts
    canvas = document.getElementById("canvas");
    ctx = canvas.getContext("2d");
    resizeCanvas();
    generatePoints(700);
    pointFun();
    setInterval(pointFun, 25);
    window.addEventListener("resize", resizeCanvas, false);
  }
  //Particle constructor
  function point() {
    this.x = Math.random() * (canvas.width + maxDist) - maxDist / 2;
    this.y = Math.random() * (canvas.height + maxDist) - maxDist / 2;
    this.z = Math.random() * 0.5 + 0.5;
    this.vx = (Math.random() * 2 - 0.5) * this.z;
    this.vy = (Math.random() * 1.5 + 1.5) * this.z;
    this.fill = "rgba(255,255,255," + (0.5 * Math.random() + 0.5) + ")";
    this.dia = (Math.random() * 2.5 + 1.5) * this.z;
    points.push(this);
  }
  //Point generator
  function generatePoints(amount) {
    var temp;
    for (var i = 0; i < amount; i++) {
      temp = new point();
    }
    console.log(points);
  }
  //Point drawer
  function draw(obj) {
    ctx.beginPath();
    ctx.strokeStyle = "transparent";
    ctx.fillStyle = obj.fill;
    ctx.arc(obj.x, obj.y, obj.dia, 0, 2 * Math.PI);
    ctx.closePath();
    ctx.stroke();
    ctx.fill();
  }
  //Updates point position values
  function update(obj) {
    obj.x += obj.vx;
    obj.y += obj.vy;
    if (obj.x > canvas.width + maxDist / 2) {
      obj.x = -(maxDist / 2);
    } else if (obj.xpos < -(maxDist / 2)) {
      obj.x = canvas.width + maxDist / 2;
    }
    if (obj.y > canvas.height + maxDist / 2) {
      obj.y = -(maxDist / 2);
    } else if (obj.y < -(maxDist / 2)) {
      obj.y = canvas.height + maxDist / 2;
    }
  }
  //
  function pointFun() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    for (var i = 0; i < points.length; i++) {
      draw(points[i]);
      update(points[i]);
    }
  }

  function resizeCanvas() {
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    pointFun();
  }

  //Execute when DOM has loaded
  document.addEventListener("DOMContentLoaded", init, false);
})();

	</script>	
