<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <title>airlinesfarefinder</title>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/dsnp-csadd.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="js/jquery.min.js"></script>
  
  <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16751523481"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-16751523481'); </script> 

<!-- Event snippet for Purchase conversion page --> <script> gtag('event', 'conversion', { 'send_to': 'AW-16751523481/YUOBCJPU5uAZEJnt37M-', 'value': 1.0, 'currency': 'INR', 'transaction_id': '' }); </script> 

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16751523481"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16751523481');
</script>


<!-- Event snippet for mobile conversion conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. --> <script> function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-16751523481/_fsQCOK18uAZEJnt37M-',
      'value': 1.0,
      'currency': 'INR',
      'event_callback': callback
  });
  return false;
}
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16657952456"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16657952456');
</script>

<script>
  gtag('config', 'AW-16657952456/BJFiCPegsJoaEMjdkIc-', {
    'phone_conversion_number': '888-928-1369'
  });
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16751523481"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16751523481');
</script>


<script>
  gtag('config', 'AW-16751523481/xw6MCIDC8eAZEJnt37M-', {
    'phone_conversion_number': '(888) 928-1369'
  });
</script>


<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-40R7XVTMVS"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-40R7XVTMVS'); </script>



</head>
<body>



<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://www.airlinesfarefinder.com"><img src="images/logo.png" class="logo"></a>
    </div>
	
	 <div class="callnow_mm">
        <a href="tel: (888) 927-5507">
        <div class="hdrtxt"><i class="fa fa-headphones "></i> Call </div>
        </a>
     </div>
	
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar_st">
        <li class="active"><a href="https://www.airlinesfarefinder.com">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <!-- <li><a href="/travel">Travel</a></li> -->
        <li><a href="/contact">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div class="tollfree">
          <a href="tel: (888) 927-5507"><span>Call 24/7 for our best deals</span><img src="images/phone01.png">  (888) 927-5507 </a>
        </div>
      </ul>
    </div>
  </div>
</nav>  

<div class="pagebanner">
  <h1>Terms & Conditions</h1>
  <img src="images/termsbanner.jpg" class="img-responsive">
</div>  



<section class="abt_home2 pd50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about_sec2">
          <h4><strong>Terms and Conditions</strong></h4>

          <h1>Terms and Conditions</h1>
          <p>Welcome to Flightreservation.us!</p>
        
          <p>These terms and conditions outline the rules and regulations for the use of Flightreservation.us's Website, located at Flightreservation.us.</p>
        
          <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Flightreservation.us if you do not agree to take all of the terms and conditions stated on this page.</p>
        
          <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: 
            "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. 
            "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. 
            "Party", "Parties", or "Us", refers to both the Client and ourselves. 
            All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client 
            in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, 
            in accordance with and subject to, prevailing law of Netherlands. 
            Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and 
            therefore as referring to same.
          </p>
        
          <h2>Cookies</h2>
          <p>We employ the use of cookies. By accessing Flightreservation.us, you agreed to use cookies in agreement with the Flightreservation.us's Privacy Policy.</p>
        
          <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality 
          of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
        
          <h2>License</h2>
          <p>Unless otherwise stated, Flightreservation.us and/or its licensors own the intellectual property rights for all material on Flightreservation.us. 
          All intellectual property rights are reserved. You may access this from Flightreservation.us for your own personal use subjected to restrictions 
          set in these terms and conditions.</p>
        
          <p>You must not:</p>
          <ul>
            <li>Republish material from Flightreservation.us</li>
            <li>Sell, rent or sub-license material from Flightreservation.us</li>
            <li>Reproduce, duplicate or copy material from Flightreservation.us</li>
            <li>Redistribute content from Flightreservation.us</li>
          </ul>
        
          <p>This Agreement shall begin on the date hereof.</p>
        
          <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. 
          Flightreservation.us does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect 
          the views and opinions of Flightreservation.us, its agents and/or affiliates. Comments reflect the views and opinions of the person who 
          post their views and opinions. To the extent permitted by applicable laws, Flightreservation.us shall not be liable for the Comments or 
          for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the 
          Comments on this website.</p>
        
          <p>Flightreservation.us reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, 
          offensive or causes breach of these Terms and Conditions.</p>
        
          <p>You warrant and represent that:</p>
          <ul>
            <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
            <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
            <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy;</li>
            <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
          </ul>
        
          <p>You hereby grant Flightreservation.us a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit 
          any of your Comments in any and all forms, formats or media.</p>
        
          <h2>Hyperlinking to our Content</h2>
          <p>The following organizations may link to our Website without prior written approval:</p>
          <ul>
            <li>Government agencies</li>
            <li>Search engines</li>
            <li>News organizations</li>
            <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses</li>
            <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups</li>
          </ul>
        
          <p>We may consider and approve other link requests from the following types of organizations:</p>
          <ul>
            <li>commonly-known consumer and/or business information sources</li>
            <li>dot.com community sites</li>
            <li>associations or other groups representing charities</li>
            <li>online directory distributors</li>
            <li>internet portals</li>
            <li>accounting, law and consulting firms</li>
            <li>educational institutions and trade associations</li>
          </ul>
        
          <p>We will approve link requests if the link:</p>
          <ul>
            <li>is not deceptive;</li>
            <li>does not falsely imply sponsorship, endorsement or approval;</li>
            <li>fits within the context of the linking party’s site;</li>
            <li>does not reflect poorly on us or our partners.</li>
          </ul>
        
          <p>If you are one of the organizations listed above and are interested in linking to our website, you must inform us by sending an e-mail to Flightreservation.us.</p>
        
          <p>Approved organizations may hyperlink to our Website as follows:</p>
          <ul>
            <li>By use of our corporate name</li>
            <li>By use of the uniform resource locator being linked to</li>
            <li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party’s site</li>
          </ul>
        
          <p>No use of Flightreservation.us's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
        
          <h2>iFrames</h2>
          <p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>
        
          <h2>Content Liability</h2>
          <p>We shall not be held responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. 
          No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement 
          or other violation of, any third party rights.</p>
        
          <h2>Your Privacy</h2>
          <p>Please read our <a href="/privacy-policy">Privacy Policy</a>.</p>
        
          <h2>Reservation of Rights</h2>
          <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. 
          We also reserve the right to amend these terms and conditions and its linking policy at any time. By continuously linking to our Website, you agree to be bound to and 
          follow these linking terms and conditions.</p>
        
          <h2>Removal of links from our website</h2>
          <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but 
          we are not obligated to do so or to respond to you directly.</p>
        
          <p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains 
          available or that the material on the website is kept up to date.</p>
        
          <h2>Disclaimer</h2>
          <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. 
          Nothing in this disclaimer will:</p>
          <ul>
            <li>limit or exclude our or your liability for death or personal injury;</li>
            <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
            <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
            <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
          </ul>
        
          <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; 
          and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>
        
          <p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="footer">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        <div class="ftr_bx">
          <h4>Quick <span>Links</span></h4>
          <ul>
            
            <li><a href="/about"><i class="fa fa-angle-right"></i> About Us</a></li>
            <li><a href="/disclaimer"><i class="fa fa-angle-right"></i> Disclaimer</a></li>
            <li><a href="/privacy-policy"><i class="fa fa-angle-right"></i> Privacy Policy</a></li>
            <li><a href="/terms-conditions"><i class="fa fa-angle-right"></i> Terms & Conditions</a></li>
            <li class="dsnp-ex"><a href="/cancellation-refund"><i class="fa fa-angle-right"></i> Cancellation & Refund Policy</a></li>
            <li><a href="sitemap.xml"><i class="fa fa-angle-right"></i> Site Map</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-md-12">
        <div class="ftr_bx">
          <h4>Contact <span>Info</span></h4>
          <ul class="dsnp-uladm" style="margin-bottom: 10px;">
            <li class="dsnp-liadm"><a href="javascript:void(0);"><i class="fa fa-home"></i>  6220 S Rainbow Blvd, Las Vegas, NV 89118, United States
  </a></li>
            <li><a href="tel: (888) 927-5507"><i class="fa fa-phone"></i>  (888) 927-5507 </a></li>
            <li><a href="mailto:info@airlinesfarefinder.com"><i class="fa fa-envelope"></i> info@airlinesfarefinder.com </a></li>
            <li><a href="https://www.airlinesfarefinder.com"><i class=" fa fa-desktop"></i> airlinesfarefinder.com</a></li>
          </ul>
          <!--<img src="images/iata.png" alt="iata">
          <img src="images/logo-arc.png" alt="iata"> -->
        </div>
      </div>
      
      <div class="col-md-12">
        <div class="ftr_bx">
          <h4>Disclaimer </h4>
          <p>Airlines Fare Finder is a travel reservations portal in the United States. We don't have any subsidiary or sister company. We are working as independent travel agents to sell travel products and services. Our company is not responsible for any kind of loss or damage by using this website or by browsing the Airlines Fare Finder.</p>
        </div>
      </div>
      
    </div>
	
  </div>  
</footer>
<div class="icon_St">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <!--<li><img src="icon/01.png"></li>
          <li><img src="icon/02.png"></li>
          <li><img src="icon/03.png"></li>
          <li><img src="icon/04.png"></li> -->
          <li><img src="icon/05.png"></li>
          <li><img src="icon/06.png"></li>
          <li><img src="icon/07.png"></li>
          <li><img src="icon/08.png"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="footer_btm">Copyright © 2024 airlinesfarefinder.com is a unit of airlinesfarefinder LLC. All Rights Reserved</div>






</html>

	
	<script>
	//IIFE
(function () {
  "use strict";

  var canvas, ctx;
  var points = [];
  var maxDist = 100;

  function init() {
    //Add on load scripts
    canvas = document.getElementById("canvas");
    ctx = canvas.getContext("2d");
    resizeCanvas();
    generatePoints(700);
    pointFun();
    setInterval(pointFun, 25);
    window.addEventListener("resize", resizeCanvas, false);
  }
  //Particle constructor
  function point() {
    this.x = Math.random() * (canvas.width + maxDist) - maxDist / 2;
    this.y = Math.random() * (canvas.height + maxDist) - maxDist / 2;
    this.z = Math.random() * 0.5 + 0.5;
    this.vx = (Math.random() * 2 - 0.5) * this.z;
    this.vy = (Math.random() * 1.5 + 1.5) * this.z;
    this.fill = "rgba(255,255,255," + (0.5 * Math.random() + 0.5) + ")";
    this.dia = (Math.random() * 2.5 + 1.5) * this.z;
    points.push(this);
  }
  //Point generator
  function generatePoints(amount) {
    var temp;
    for (var i = 0; i < amount; i++) {
      temp = new point();
    }
    console.log(points);
  }
  //Point drawer
  function draw(obj) {
    ctx.beginPath();
    ctx.strokeStyle = "transparent";
    ctx.fillStyle = obj.fill;
    ctx.arc(obj.x, obj.y, obj.dia, 0, 2 * Math.PI);
    ctx.closePath();
    ctx.stroke();
    ctx.fill();
  }
  //Updates point position values
  function update(obj) {
    obj.x += obj.vx;
    obj.y += obj.vy;
    if (obj.x > canvas.width + maxDist / 2) {
      obj.x = -(maxDist / 2);
    } else if (obj.xpos < -(maxDist / 2)) {
      obj.x = canvas.width + maxDist / 2;
    }
    if (obj.y > canvas.height + maxDist / 2) {
      obj.y = -(maxDist / 2);
    } else if (obj.y < -(maxDist / 2)) {
      obj.y = canvas.height + maxDist / 2;
    }
  }
  //
  function pointFun() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    for (var i = 0; i < points.length; i++) {
      draw(points[i]);
      update(points[i]);
    }
  }

  function resizeCanvas() {
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    pointFun();
  }

  //Execute when DOM has loaded
  document.addEventListener("DOMContentLoaded", init, false);
})();

	</script>	
